<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    package="com.speedata.uhf">
    <!--android:sharedUserId="android.uid.system">-->

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 在新更新需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".NewMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".PopSetFreqActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".PopSetS2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".PopSetInvContentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".PopAttrSetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyDialogStyleRight" />
        <activity
            android:name=".CurrentCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopSetServiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".InvSetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="spd.intent.action.UHF" />
            </intent-filter>
            <intent-filter android:priority="6">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@mipmap/icon_uhf" />
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/uhf_config" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/uhf_config_summary" />
        </activity>
        <activity
            android:name=".SearchDirectionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity android:name=".PikestaffActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="spd.intent.action.PIKESTAFF" />
            </intent-filter>
            <intent-filter android:priority="6">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@mipmap/icon_qb" />
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/qb_config" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/qb_config_summary" />
        </activity>

    </application>

</manifest>